
.card{
    border:$card-border-width #{$card-border-style} $card-border-color;
    border-radius: $card-border-radius;
    margin-top:$card-margin-top;
    margin-bottom: $card-margin-bottom;
    
    *{
     display: block;   
     width: 100%;
     margin: 0 auto;
    }

    img{
        max-width: 100%;
        height: auto;
        padding: $card-image-padding;
    }
    
    .card-bar{
        height: $card-bar-height;
        width: $card-bar-width;
        margin: 0 auto;
        background-color:$card-bar-color ;
    }

    .card-name{
        text-align: center;
        margin-left: $card-name-margin-left;
        margin-right: $card-name-margin-right;
        font-size: $card-name-font-size;
        margin-top: $card-name-margin-top;
        margin-bottom:  $card-name-margin-bottom;
    }

    .card-descrption{
        text-align: center;
        margin-top:$card-descrption-margin-top;
        margin-bottom: $card-descrption-margin-bottom;
    }

    a{
        text-align: center;
        background-color: $card-button-background-color ;
        text-decoration: none;
        border:0.5px solid #000000;
        border-bottom-left-radius: 0.5em;
        border-bottom-right-radius: 0.5em;
        font-size: 1.3em;
        &:hover{
            background-color: black;
            color: white;
        }
    }

}