* {
    box-sizing: border-box;
}

body {
    font-family: $base-font-family;
    margin: 0px;
    font-size: $base-font-size;
}

//Reglas para la cabecera

@for $i from 1 through 6 {
    //header-size parte de la variable original header-font-size
    $header-size: $header-font-size -$i*$header-factor-reduction;

    .h#{$i} {
        font-family: $header-font-family;
        margin: 0px;
        font-size: $header-size;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }
}

//----------------GENERACION DE COLORES DE FONDO

@each $k,$v in $colors {
    .bg-#{$k} {
        background-color: $v;
    }
}

//-------------GENERACION DE MARGIN-------------------------

@for $i from 0 through 5 {
    .m-#{$i} {
        margin: $i*$margin-factor;
    }
}

@each $k,
$v in $directions {
    @for $i from 0 to 5 {
        .m#{$k}-#{$i} {
            margin-#{$v}: $i*$margin-factor;
        }
    }
}

//-------------GENERACION DE PADDING-------------------------

@for $i from 0 through 5 {
    .p-#{$i} {
        padding: $i*$padding-factor;
    }
}

@each $k,
$v in $directions {
    @for $i from 0 to 5 {
        .p#{$k}-#{$i} {
            padding-#{$v}: $i*$padding-factor;
        }
    }
}

//-------------Estilos para enlaces

a{
    text-decoration: none;
}