/// @author Bernardo Morán 

//----------------------ELEMENTOS GENERALES----------------


@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600;700&family=Muli:ital,wght@0,400;0,500;1,400&display=swap');
/// Tipo de letra en general
/// @group Texto
$base-font-family:'Muli', sans-serif;

/// Tipo de letra de la cabecera
/// @group Texto
$header-font-family:'Dancing Script', cursive;

/// Tamaño de letra de la cabecera h1. Será el tamaño por defecto que se irá recogindo en funcion del factor de retuccion
/// @group Texto
$header-font-size:2.3em;

/// Factor de reduccion de tamaño de texto para las cabeceras para las cabeceras
/// @group Texto 
$header-factor-reduction:0.3em;

/// Tamaño de letra por defecto. Se aplicará a todo el body
/// @group Texto
$base-font-size:1.0em;

/// Centrado de Texto
/// @group Texto
.text-center{
    text-align: center;
}

//----------------------COLORES------------------

/// Grupo de colores principales
/// @group Colores
$colors:(
    "primary": #52C1FF,
    "secondary": #4A86E8
    );

//--------------------MARGIN Y PADDING-----------

/// Factor iniciales de margin 
/// @group Margin&Padding
$margin-factor: 1.5em;

/// Factor iniciales de padding
/// @group Margin&Padding
$padding-factor: 1.5em;

/// Direcciones a los que se aplica el margin y el padding
/// @group Margin&Padding
$directions:(
    "t": "top",
    "r": "right",
    "b": "bottom",
    "l": "left"
);

/// Margin arriba y abajo de container y container-expanded
/// @group Margin&Padding
$margin-container:0;
//--------------------LAYOUT-------------------

/// Ancho del contenedor. Este contenedor estara centrado. Puede tener margin arriba y abajo
/// @group Layout
$container-width:95%;

/// Numero de colummnas para mi layout
/// @group Layout
$num_elementos:12;

/// Mapa con los distintos breakpoints
/// @group layout
$breakpoints: (
  "sm": 576px,
  "md": 768px,
  "lg": 992px
);

/// Direccion de flex por defecto
/// @group Layout
$flex-direction-value: row;

/// flex-wrap por defecto
/// @group Layout
$flex-wrap-value: wrap;


/// flex-grow value por defecto.
/// @group Layout
$flex-gwow-value: 0;

/// flex-shrink value por defecto.
/// @group Layout
$flex-shrink-value: 0;

/// Alineación horizontal de elementos
/// @group layout
$hor-center-values:(
    "start": "flex-start",
    "end": "flex-end",
    "center": "center",
    "between": "space-between",
    "around": "space-around",
    "evenly": "space-evenly"
);


/// Alineación vertical de elementos
/// @group layout
$ver-center-values:(
    "start": "flex-start",
    "end": "flex-end",
    "center": "center",
    "baseline": "baseline"
);

    